.trip-card{
    display: flex;
    flex-direction: column;
    margin: 1em;
    min-width: 400px;
}

.trip-date, .trip-transport {
    margin: 1em;
    padding: 0.2em;
}

.transport-item {
    margin-left: 4px;
    margin-right: 4px;
}

.trip-card-container {
    position: relative;
}

.trip-type {
    position: absolute;
    right: 0;
    top: 0;
    padding: 4px;
}

.trip-status {
    position: absolute;
    left: 0;
    top: 0;
    padding: 4px;
}

.accept-reject-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.accept-reject-button {
    flex: 1;
}

.pdf-button {
    border: solid;
    border-radius: 20%;
}

.pdf-text {
    display: inline-block;
}